<ng-container *ngIf="movieId == 1;">
    <app-deadpool></app-deadpool>
</ng-container>
<ng-container *ngIf="movieId == 2;">
    <app-inception></app-inception>
</ng-container>
<ng-container *ngIf="movieId == 3;">
    <app-joker></app-joker>
</ng-container>
<ng-container *ngIf="movieId == 4;">
    <app-johnwick></app-johnwick>
</ng-container>
<ng-container *ngIf="movieId == 5;">
    <app-thematrix></app-thematrix>
</ng-container>
<ng-container *ngIf="movieId == 6;">
    <app-thelordoftherings></app-thelordoftherings>
</ng-container>

