<p>born works!</p>
<h1 style="color: black;">{{this.idxTolink}}</h1>
<ng-container *ngIf="idxTolink == 1;">
    <!-- <app-deadpool></app-deadpool> -->
</ng-container>
<ng-container *ngIf="idxTolink == 2;">
    <!-- <app-inception></app-inception> -->
</ng-container>
<ng-container *ngIf="idxTolink == 3;">
    <!-- <app-joker></app-joker> -->
</ng-container>
<ng-container *ngIf="idxTolink == 4;">
    <!-- <app-johnwick></app-johnwick> -->
</ng-container>
<ng-container *ngIf="idxTolink == 5;">
    <!-- <app-thematrix></app-thematrix> -->
</ng-container>
<ng-container *ngIf="idxTolink == 6;">
    <!-- <app-thelordoftherings></app-thelordoftherings> -->
</ng-container>


